
       body{
         
         background: paleturquoise;
    
       }
     h1 { color: red }
      p {color: mediumblue ; font-size: 41px ;}
      h2 {color: rgb(134, 146, 134)}
#menu a {background-color: mediumseagreen;}
